@import './variables';

@import './grid';

// Components
@import '../../components/Search/index.scss';
@import '../../components/ItemSearch/index.scss';
@import '../../components//Detail//index.scss';
@import '../../components/BreadCrumb/index.scss';
@import '../../components/Loading/index.scss';

// Pages
@import '../../pages/Items/index.scss';

// globals
body {
  margin: 0;
  background: $grey-light;
}

main {
  @extend .container-fluid;
}

article.home-article {
  @extend .col-xs-offset-1;
  display: flex;
  align-content: center;
  flex-direction: column;
}

// buttons

.btn {
  border: 1px solid;
  border-radius: 4px;
  font-size: 20px;
  height: $gutter *1.5;
  width: 100%;

  &.primary {
    color: white;
    background: $blue;
  }

  &.link {
    border: 0;
    background: none;
    text-align: left;
    cursor: pointer;
  }
}